# Imports

In [3]:
import pandas as pd

from IPython.core.display import display, HTML

# Data Loading

In [6]:
df1 = pd.read_excel("CMOR.xlsx", engine='openpyxl',)
df2 = pd.read_excel("COE.xlsx", engine='openpyxl',)

df1.info(verbose=True)
display(df1)

df2.info(verbose=True)
display(df2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Transaction_mth  15 non-null     datetime64[ns]
 1   Segment          15 non-null     object
 2   Total_unit       15 non-null     int64
 3   Total_bad        15 non-null     int64
 4   Total_good       15 non-null     int64
 5   Total_unit.1     15 non-null     int64
 6   Total_bad.1      15 non-null     int64
 7   Total_good.1     15 non-null     int64
dtypes: datetime64[ns](1), int64(6), object(1)
memory usage: 1.1+ KB

,Transaction_mth,Segment,Total_unit,Total_bad,Total_good,Total_unit.1,Total_bad.1,Total_good.1
0,2021-08-01,All,20,20,20,20,20,20
1,2021-08-02,ATM,45,45,45,45,45,45
2,2021-08-03,Business,3,3,3,3,3,3
3,2021-08-04,Consumer,6,6,6,6,6,6
4,2021-08-05,approved,7,7,7,7,7,7
5,2021-08-06,decline_fraud,9,9,9,9,9,9
6,2021-08-07,cross_border,10,10,10,10,10,10
7,2021-08-08,PIN_POS,45,45,45,45,45,45
8,2021-08-09,WF_ATM,34,34,34,34,34,34
9,2021-08-10,new card,23,23,23,23,23,23
10,2021-08-11,dom,48,48,48,48,48,48
11,2021-08-12,app,79,79,79,79,79,79
12,2021-08-13,dec,56,56,56,56,56,56
13,2021-08-14,lob,35,35,35,35,35,35
14,2021-08-15,swipe,12,12,12,12,12,12

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Transaction_mth  15 non-null     datetime64[ns]
 1   Segment          15 non-null     object
 2   Total_unit       15 non-null     int64
 3   Total_bad        15 non-null     int64
 4   Total_good       15 non-null     int64
 5   Total_unit.1     15 non-null     int64
 6   Total_bad.1      15 non-null     int64
 7   Total_good.1     15 non-null     int64
dtypes: datetime64[ns](1), int64(6), object(1)
memory usage: 1.1+ KB

,Transaction_mth,Segment,Total_unit,Total_bad,Total_good,Total_unit.1,Total_bad.1,Total_good.1
0,2021-08-01,All,20,20,20,20,20,20
1,2021-08-02,ATM,45,45,45,45,45,45
2,2021-08-03,Business,3,3,3,3,3,3
3,2021-08-04,Consumer,6,6,6,6,6,6
4,2021-08-05,approved,7,7,7,7,7,7
5,2021-08-06,decline_fraud,9,9,9,9,9,9
6,2021-08-07,cross_border,10,10,10,10,10,10
7,2021-08-08,PIN_POS,45,45,45,45,45,45
8,2021-08-09,WF_ATM,34,34,34,34,34,34
9,2021-08-10,new card,23,23,23,23,23,23
10,2021-08-11,dom,48,48,48,48,48,48
11,2021-08-12,app,79,79,79,79,79,79
12,2021-08-13,dec,56,56,56,56,56,56
13,2021-08-14,lob,35,35,35,35,35,35
14,2021-08-15,swipe,12,12,12,12,12,12

In [89]:
def compare_table(
    df1,
    df2,
    col_list=None,
    groupby=["Transaction_mth","Segment"],
    title=None,
    save=None
):
    assert title is None or len(title) == 2, "expecting exactly 2 titles"
    if col_list is None:
        col_list = set.intersection(*[
            set(df.columns) - set(groupby)
            for df in [df1, df2]
        ])
    if title is None:
        title = ["Table 1", "Table 2"]
    merge_df = pd.concat(
        [
            df.set_index(groupby)[col_list]
            for df in [df1, df2]
        ],
        keys=title,
        axis=1
    )
    for column in col_list:
        merge_df[("Variation", column)] = (df1[column] - df2[column]).values / 100.
    if save is not None:
        merge_df.to_excel(save)
    return merge_df
    
display(
    compare_table(
        df1,
        df2,
        title=["COE", "CMoR"],
        save="test.xlsx"
    )
)

                                      COE                            \
                              Total_bad.1 Total_unit.1 Total_good.1
Transaction_mth Segment
2021-08-01      All                    20           20           20
2021-08-02      ATM                    45           45           45
2021-08-03      Business                3            3            3
2021-08-04      Consumer                6            6            6
2021-08-05      approved                7            7            7
2021-08-06      decline_fraud           9            9            9
2021-08-07      cross_border           10           10           10
2021-08-08      PIN_POS                45           45           45
2021-08-09      WF_ATM                 34           34           34
2021-08-10      new card               23           23           23
2021-08-11      dom                    48           48           48
2021-08-12      app                    79           79           79
2021-08-13      dec                    56           56           56
2021-08-14      lob                    35           35           35
2021-08-15      swipe                  12           12           12

                                                                     CMoR  \
                              Total_unit Total_bad Total_good Total_bad.1
Transaction_mth Segment
2021-08-01      All                   20        20         20          20
2021-08-02      ATM                   45        45         45          45
2021-08-03      Business               3         3          3           3
2021-08-04      Consumer               6         6          6           6
2021-08-05      approved               7         7          7           7
2021-08-06      decline_fraud          9         9          9           9
2021-08-07      cross_border          10        10         10          10
2021-08-08      PIN_POS               45        45         45          45
2021-08-09      WF_ATM                34        34         34          34
2021-08-10      new card              23        23         23          23
2021-08-11      dom                   48        48         48          48
2021-08-12      app                   79        79         79          79
2021-08-13      dec                   56        56         56          56
2021-08-14      lob                   35        35         35          35
2021-08-15      swipe                 12        12         12          12

                                                                              \
                              Total_unit.1 Total_good.1 Total_unit Total_bad
Transaction_mth Segment
2021-08-01      All                     20           20         20        20
2021-08-02      ATM                     45           45         45        45
2021-08-03      Business                 3            3          3         3
2021-08-04      Consumer                 6            6          6         6
2021-08-05      approved                 7            7          7         7
2021-08-06      decline_fraud            9            9          9         9
2021-08-07      cross_border            10           10         10        10
2021-08-08      PIN_POS                 45           45         45        45
2021-08-09      WF_ATM                  34           34         34        34
2021-08-10      new card                23           23         23        23
2021-08-11      dom                     48           48         48        48
2021-08-12      app                     79           79         79        79
2021-08-13      dec                     56           56         56        56
2021-08-14      lob                     35           35         35        35
2021-08-15      swipe                   12           12         12        12

                                           Variation               \
                              Total_good Total_bad.1 Total_unit.1
Transaction_mth Segment
2021-08-01      All                   20         0.0          0.0
2021-08-02      ATM                   45         0.0          0.0
2021-08-03      Business               3         0.0          0.0
2021-08-04      Consumer               6         0.0          0.0
2021-08-05      approved               7         0.0          0.0
2021-08-06      decline_fraud          9         0.0          0.0
2021-08-07      cross_border          10         0.0          0.0
2021-08-08      PIN_POS               45         0.0          0.0
2021-08-09      WF_ATM                34         0.0          0.0
2021-08-10      new card              23         0.0          0.0
2021-08-11      dom                   48         0.0          0.0
2021-08-12      app                   79         0.0          0.0
2021-08-13      dec                   56         0.0          0.0
2021-08-14      lob                   35         0.0          0.0
2021-08-15      swipe                 12         0.0          0.0


                              Total_good.1 Total_unit Total_bad Total_good
Transaction_mth Segment
2021-08-01      All                    0.0        0.0       0.0        0.0
2021-08-02      ATM                    0.0        0.0       0.0        0.0
2021-08-03      Business               0.0        0.0       0.0        0.0
2021-08-04      Consumer               0.0        0.0       0.0        0.0
2021-08-05      approved               0.0        0.0       0.0        0.0
2021-08-06      decline_fraud          0.0        0.0       0.0        0.0
2021-08-07      cross_border           0.0        0.0       0.0        0.0
2021-08-08      PIN_POS                0.0        0.0       0.0        0.0
2021-08-09      WF_ATM                 0.0        0.0       0.0        0.0
2021-08-10      new card               0.0        0.0       0.0        0.0
2021-08-11      dom                    0.0        0.0       0.0        0.0
2021-08-12      app                    0.0        0.0       0.0        0.0
2021-08-13      dec                    0.0        0.0       0.0        0.0
2021-08-14      lob                    0.0        0.0       0.0        0.0
2021-08-15      swipe                  0.0        0.0       0.0        0.0